* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    font-size: 1.5em;
}

h1 {
    font-weight: normal;
    font-size: 6em;
}